
<div style="width: 100%; height: 720px; position: relative; background: #F6F8FE">
    <div style="width: 152px; padding: 10px; left: -10px; top: -10px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
        <div style="width: 142px; height: 720px; background: #B5CCFB"></div>
    </div>
    <div style="padding: 10px; left: -10px; top: -10px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
        <div style="width: 102px; height: 720px; background: #B5CCFB"></div>
    </div>
    <img style="width: 35px; height: 35px; left: 53px; top: 159px; position: absolute" src="https://img.icons8.com/?size=512&id=101374&format=png" />
    <img style="width: 35px; height: 35px; left: 53px; top: 239px; position: absolute" src="https://img.icons8.com/?size=1x&id=11220&format=png" />
    <img style="width: 35px; height: 35px; left: 48px; top: 319px; position: absolute" src="https://img.icons8.com/?size=512&id=KTv7iJDUIplK&format=png" />
    <img style="width: 35px; height: 35px; left: 53px; top: 399px; position: absolute" src="https://img.icons8.com/?size=512&id=3nLCm0pQKbob&format=png" />
    <div style="width: 100px; height: 100px; left: 548px; top: 726px; position: absolute"></div>
    <img style="width: 35px; height: 35px; left: 1103px; top: 54px; position: absolute" src="https://img.icons8.com/?size=512&id=61187&format=png" />
    <img style="width: 35px; height: 35px; left: 1199px; top: 54px; position: absolute" src="https://img.icons8.com/?size=512&id=FAYM3LUVoMeE&format=png" />
    <div style="width: 1178px; height: 700px; left: 202px; top: 121px; position: absolute; background: white"></div>
    <div style="width: 1093px; height: 67px; left: 244px; top: 252px; position: absolute; background: #F6F8FE; border-radius: 20px"></div>
    <div style="width: 1093px; height: 67px; left: 244px; top: 350px; position: absolute; background: #F6F8FE; border-radius: 20px"></div>
    <div style="width: 1093px; height: 67px; left: 244px; top: 448px; position: absolute; background: #F6F8FE; border-radius: 20px"></div>
    <div style="width: 1093px; height: 67px; left: 244px; top: 546px; position: absolute; background: #F6F8FE; border-radius: 20px"></div>
    <div style="width: 1093px; height: 67px; left: 244px; top: 644px; position: absolute; background: #F6F8FE; border-radius: 20px"></div>
    <div style="width: 682px; height: 76px; left: 257px; top: 176px; position: absolute; color: black; font-size: 36px; font-family: Caudex; font-weight: 700; word-wrap: break-word">List of Patients</div>
    <div style="width: 100px; height: 41px; left: 266px; top: 265px; position: absolute; color: black; font-size: 24px; font-family: Cantata One; font-weight: 400; word-wrap: break-word">Name</div>
    <div style="width: 163px; height: 41px; left: 530px; top: 265px; position: absolute; color: black; font-size: 24px; font-family: Cantata One; font-weight: 400; word-wrap: break-word">Decease</div>
    <div style="width: 163px; height: 41px; left: 530px; top: 363px; position: absolute; color: black; font-size: 24px; font-family: Cantata One; font-weight: 400; word-wrap: break-word">poi</div>
    <div style="width: 163px; height: 41px; left: 841px; top: 366px; position: absolute; color: black; font-size: 24px; font-family: Cantata One; font-weight: 400; word-wrap: break-word">1234566</div>
    <div style="width: 163px; height: 41px; left: 841px; top: 268px; position: absolute; color: black; font-size: 24px; font-family: Cantata One; font-weight: 400; word-wrap: break-word">Phone No</div>
    <div style="width: 109px; height: 41px; left: 1152px; top: 265px; position: absolute; color: black; font-size: 24px; font-family: Cantata One; font-weight: 400; word-wrap: break-word">Action</div>
    <div style="width: 100px; height: 41px; left: 266px; top: 363px; position: absolute; color: black; font-size: 24px; font-family: Cantata One; font-weight: 400; word-wrap: break-word">abc</div>
    <div style="width: 77px; height: 35px; left: 1153px; top: 364px; position: absolute; background: #D9D9D9; border-radius: 30px"></div>
    <div style="width: 77px; height: 35px; left: 1237px; top: 364px; position: absolute; background: #D9D9D9; border-radius: 30px"></div>
    <div style="width: 51px; height: 26px; left: 1166px; top: 371px; position: absolute; color: black; font-size: 14px; font-family: Cantata One; font-weight: 400; word-wrap: break-word">Delete</div>
    <div style="width: 51px; height: 26px; left: 1255px; top: 371px; position: absolute; color: black; font-size: 14px; font-family: Cantata One; font-weight: 400; word-wrap: break-word">Edit</div>
    <div style="width: 51px; height: 26px; left: 1166px; top: 371px; position: absolute; color: black; font-size: 14px; font-family: Cantata One; font-weight: 400; word-wrap: break-word">Delete</div>
</div>
  