<body>
    <div style="width: 1178px; height: 700px; left: 202px; top: 121px; position: absolute; background: white; margin: 0; padding: 0;"></div>
    <div style="width: 1093px; height: 67px; left: 244px; top: 100px; position: absolute; background: #F6F8FE; border-radius: 20px; margin: 0; padding: 0;"></div>
    <div style="width: 682px; height: 76px; left: 257px; top: 20px; position: absolute; color: black; font-size: 36px; font-family: Caudex; font-weight: 700; word-wrap: break-word; margin: 0; padding: 0;">List of Patients</div>
    <div style="width: 100px; height: 41px; left: 266px; top: 111px; position: absolute; color: black; font-size: 24px; font-family: Cantata One; font-weight: 400; word-wrap: break-word; margin: 0; padding: 0;">Name</div>
    <div style="width: 163px; height: 41px; left: 530px; top: 111px; position: absolute; color: black; font-size: 24px; font-family: Cantata One; font-weight: 400; word-wrap: break-word; margin: 0; padding: 0;">Date</div>
    <div style="width: 163px; height: 41px; left: 841px; top: 111px; position: absolute; color: black; font-size: 24px; font-family: Cantata One; font-weight: 400; word-wrap: break-word; margin: 0; padding: 0;">Prescription</div>
    
    <!-- Repeat the following for each patient entry -->
    <div style="width: 100px; height: 41px; left: 266px; top: 200px; position: absolute; color: black; font-size: 24px; font-family: Cantata One; font-weight: 400; word-wrap: break-word; margin: 0; padding: 0;">Patient Name</div>
    <div style="width: 163px; height: 41px; left: 530px; top: 200px; position: absolute; color: black; font-size: 24px; font-family: Cantata One; font-weight: 400; word-wrap: break-word; margin: 0; padding: 0;">Date</div>
    <div style="width: 163px; height: 41px; left: 841px; top: 200px; position: absolute; color: black; font-size: 24px; font-family: Cantata One; font-weight: 400; word-wrap: break-word; margin: 0; padding: 0;">Prescription</div>
    <!-- End of patient entry -->

</body>