<div style="width: 100%; height: 100%; position: relative; background: #F6F8FE">
    <div style="width: 1440px; height: 99px; left: 0px; top: 6px; position: absolute; background: #324F99"></div>
    <div style="width: 169px; height: 70px; left: 36px; top: 29px; position: absolute; color: white; font-size: 36px; font-family: Caudex; font-weight: 700; word-wrap: break-word">LOGO</div>
    <div style="width: 115px; height: 52px; left: 708px; top: 29px; position: absolute; color: white; font-size: 32px; font-family: Caudex; font-weight: 400; word-wrap: break-word">Home</div>
    <div style="width: 151px; height: 52px; left: 849px; top: 29px; position: absolute; color: white; font-size: 32px; font-family: Caudex; font-weight: 400; word-wrap: break-word">About Us</div>
    <div style="width: 174px; height: 52px; left: 1026px; top: 29px; position: absolute; color: white; font-size: 32px; font-family: Caudex; font-weight: 400; word-wrap: break-word">Contact us</div>
    <img style="width: 35px; height: 35px; left: 1250px; top: 40px; position: absolute" src="https://via.placeholder.com/35x35" />
    <img style="width: 35px; height: 35px; left: 1335px; top: 38px; position: absolute" src="https://via.placeholder.com/35x35" />
    <div style="width: 416px; height: 76px; left: 220px; top: 659px; position: absolute; background: #324F99; border-radius: 20px"></div>
    <div style="width: 416px; height: 76px; left: 781px; top: 659px; position: absolute; background: #324F99; border-radius: 20px"></div>
    <div style="width: 349px; height: 70px; left: 287px; top: 680px; position: absolute; color: white; font-size: 32px; font-family: Caudex; font-weight: 400; word-wrap: break-word">Book Appointment</div>
    <div style="width: 232px; height: 47px; left: 882px; top: 680px; position: absolute; color: white; font-size: 32px; font-family: Caudex; font-weight: 400; word-wrap: break-word">Health Record</div>
    <div style="width: 1230px; height: 447px; left: 95px; top: 818px; position: absolute; background: white"></div>
    <div style="width: 463px; height: 37px; left: 139px; top: 818px; position: absolute; color: black; font-size: 32px; font-family: Caudex; font-weight: 400; word-wrap: break-word">Please Enter your Symptoms :
    </div>
    <div style="width: 182px; height: 48px; left: 154px; top: 1161px; position: absolute; background: #F5F5F5; border-radius: 20px"></div>
    <div style="width: 182px; height: 48px; left: 371px; top: 1161px; position: absolute; background: #F5F5F5; border-radius: 20px"></div>
    <div style="width: 182px; height: 48px; left: 588px; top: 1161px; position: absolute; background: #F5F5F5; border-radius: 20px"></div>
    <div style="width: 182px; height: 48px; left: 805px; top: 1161px; position: absolute; background: #F5F5F5; border-radius: 20px"></div>
    <!-- <div style="width: 182px; height: 48px; left: 1059px; top: 1158.50px; position: absolute; background: #F5F5F5; border-radius: 20px"></div> -->
    <div style="width: 121px; height: 34px; left: 184px; top: 1168px; position: absolute; color: black; font-size: 24px; font-family: Caudex; font-weight: 400; word-wrap: break-word">Headache           </div>
    <div style="width: 74px; height: 34px; left: 428px; top: 1168px; position: absolute; color: black; font-size: 24px; font-family: Caudex; font-weight: 400; word-wrap: break-word">Fever          </div>
    <div style="width: 74px; height: 34px; left: 651px; top: 1168px; position: absolute; color: black; font-size: 24px; font-family: Caudex; font-weight: 400; word-wrap: break-word">Cold</div>
    <div style="width: 157px; height: 34px; left: 836px; top: 1168px; position: absolute; color: black; font-size: 24px; font-family: Caudex; font-weight: 400; word-wrap: break-word">Stomach ace</div>
    <!-- <div style="width: 157px; height: 34px; left: 1084px; top: 1168px; position: absolute; color: black; font-size: 24px; font-family: Caudex; font-weight: 400; word-wrap: break-word">Stomach ace</div> -->
    <input type="textarea" style="width: 1149px; height: 245px; left: 139px; top: 885px; position: absolute; background: #F6F8FE">
    
    <!-- <div style="width: 1149px; height: 245px; left: 139px; top: 885px; position: absolute; background: #F6F8FE"></div> -->
</div>